.AboutWrapper {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 130px;
  padding-right: 300px;
  padding-left: 300px;
}

.InfoWrapper {
  height: 300px;
  width: 700px;
  margin: auto;
  border-radius: 35px;
  box-shadow: 12px 12px 2px 1px rgba(192, 109, 31, 0.2);
  background: rgba(255, 212, 22, 0.2);
}

.title {
  padding-top: 70px;
  text-align: center;
  font-size: 30px;
}

.content {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  font-size: 10px;
}
