@import "nav.css";
@import "footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.about-conatiner {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5% 10%;
  justify-content: space-between;
}

.about h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #444444;
  font-family: "roboto", cursive;
  text-transform: uppercase;
  font-size: 60px;
  word-spacing: 25px;
  letter-spacing: 5px;
  line-height: 38px;
}

.about p {
  justify-content: left;
  text-align: justify;
  padding: 5% 10%;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.5;
  color: #a9a9a9;
}
