footer {
  position: relative;
  width: 100%;
  background: #383838;
  padding: 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-ul-container {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-content: center;
}

.category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  list-style: none;
}

.category .footer-link {
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.75);
}

.footer-link:hover {
  color: #fff;
}

.info {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}
