/*.container-fluid {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-fluid h2 {
  color: hotpink;
  position: relative;
  width: 23rem;
}

.container-fluid h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 12px;
  width: 67px;
  height: 2px;
  background-color: hotpink;
}

.accordion {
  width: 100%;
  height: fit-content;
  padding: 0 5px;
  border: 2px solid #6db5ff;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.accordion .icon {
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  background: 8px 7px #6db5ff;
  border-radius: 50%;
  float: left;
  transition: all 0.5s ease-in;
}

.accordion h5 {
  font-size: 22px;
  margin: 0;
  padding: 3px 0 0 0;
  font-weight: normal;
  color: #1f5c9a;
  transition: all 0.5s ease-in;
}

.active .icon {
  background: 8px -25px #fff;
  border-radius: 50%;
  float: left;
  transition: all 0.5s ease-in;
}

.active {
  background-color: #6db5ff;
  color: #fff;
}

.active h5 {
  color: #fff;
}

.panel {
  padding: 0 15px;
  border-left: 1px solid #6db5ff;
  margin-left: 25px;
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-in;
}*/

.wrapper {
  display: flex;
  height: 50vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.accordion {
  width: 100%;
}

.item {
  background: #f0ebe1;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 20px;
  /*width: 100%;
  height: fit-content;
  padding: 0 5px;
  border: 2px solid #6db5ff;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  margin: 10px 0;
  align-items: center;*/
}

.title {
  color: #85662b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title h5 {
  font-size: px;
  margin: 0;
  padding: 3px 0 0 0;
  font-weight: normal;
  transition: all 0.5s ease-in;
}

.content {
  color: #8b7f75;
  padding: 0 15px;
  border-left: 1px solid #6db5ff;
  margin-left: 25px;
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-in;
}

.show {
  height: auto;
  max-height: 50px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  /*background-color: #6db5ff;
  color: #fff;*/
}
